# SPDX-License-Identifier: Apache-2.0
# Generated conformance reports (JUnit XML / HTML) — produced by
# run_conformance.sh, never checked in. The human-readable summary
# lives in RESULTS.md.
/report/
